.sidebarCotainer {
  width: 250px;
  background-color: rgb(48, 125, 127);
  position: fixed;
}
.sidebarCotainer .sidebarbutton {
  width: 250px;
  display: flex;
  align-items: center;

  padding: 10px;
  background-color: cadetblue;
  color: white;
  border-radius: 5px;
}
.sidebarCotainer .sidebarLogo {
  margin-top: 41px;
  /* width: 100%; */
  margin-bottom: 48px;
  margin-left: 61px;
}

.sidebarCotainer .nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.active-link {
  background-color: cadetblue !important;
}
